
.menu-image {
    width: 100%;
    height: 30%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.image-text {
    width: 90%;
    position: absolute;
    color: white;
    font-size: 130%;
    padding: 0;
    margin-left: 0;
    bottom: 0;
    margin-bottom: 5vw;
}
  
.image-text-2 {
    position: absolute;
  color: white;
  font-size: 70%;
  border-bottom: 1px solid white;
  right:0;
  bottom: 0;
}

.grid-card {
    margin-top: 5px;
}

.background-card{
    background-color: #fcdad1;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-radius: 100%;
    text-align: center;
}

.grid-text {
    text-align: center;
}

.line-text {
    display: flex;
    flex-direction: row;
    color: #c3c2c0;
}

.line-text:before, .line-text:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #c3c2c0;
    margin: auto;
}

.pork{
    content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="50" height="50" preserveAspectRatio="xMidYMid meet" viewBox="0 0 64 64"%3E%3Cpath fill="currentColor" d="M17.82 52.881c-.166-.004.159.014 0 0"%2F%3E%3Cpath fill="currentColor" d="M54.723 50.545c-3.115-3.428-4.611-7.59-7.508-10.904a19.838 19.838 0 0 0-1.057-1.137c1.355-1.634 1.933-3.547 3.627-4.951c1.992-1.723 5.633-2.609 7.363-4.279c1.605-1.643 1.416-4.072 2.816-5.662c.512-.615 1.26-1.098 2.035-1.557a8.45 8.45 0 0 1-1.613-1.301a7.627 7.627 0 0 1-.465-.537c-.643-.832-1.248-1.459-1.807-1.93c-1.174-1.047-2.299-1.367-3.307-1.633c-.84-.229-1.633-.439-2.27-1.078c-.301-.322-.566-.766-.76-1.365a13.608 13.608 0 0 0-.271-.795c-.486-1.441-1.133-2.383-1.686-2.979c-.971.58-1.996 1.133-2.893 2.035c-1.738 1.658-2.875 4.398-4.822 6.105c-2.07 1.744-5.059 2.49-7.389 4.287c-.285.212-.551.449-.816.686c-.428-.82-.889-1.608-1.428-2.336c-2.016-2.826-5.131-4.641-6.869-7.318c-1.615-2.602-1.965-6.143-3.357-8.621C21.543 3.943 20.574 2.98 19.674 2c-.822.516-1.87 1.402-2.908 2.922c-.189.254-.386.537-.578.834c-.422.639-.871 1.064-1.32 1.346c-.909.525-1.848.533-2.839.533h-.086c-1.227-.014-2.603.002-4.282.845c-.79.367-1.688.91-2.693 1.668a9.15 9.15 0 0 1-.706.473c-.747.445-1.512.777-2.262 1.004c.722.775 1.395 1.576 1.765 2.451c1.038 2.289-.003 5.053 1.25 7.461c1.384 2.486 5.184 4.672 6.845 7.307c1.67 2.522 1.369 5.378 2.961 8.043c-1.682 1.507-3.315 3.102-5.378 4.342C7.299 42.5 4.618 43.457 2 44.492c.326.67 1.041 1.404 2.459 1.932c.761.268 3.174.637 3.297.648c1.432.189 2.187.598 2.604 1.113c.77.908.585 2.191 1.639 3.195c.833.713 2.612 1.311 5.821 1.5c1.971.074 3.83.336 5.018.693c1.615-.613 3.205-1.227 4.556-1.917c.604 1.401 1.295 2.808 2.47 4.188c1.406 1.609 3.465 3.188 5.563 4.779c1.457-.033 3.256.158 5.502.695c.189.051.4.1.582.135c1.767.387 3.151.547 4.241.547c1.182 0 2.021-.188 2.637-.484c1.529-.832 1.756-2.377 2.932-3.188c.469-.337 1.178-.544 2.17-.544a8.982 8.982 0 0 1 1.299.101l-.026-.006c1.089.194 2.253.294 3.157.294c.236 0 .455-.007.65-.021c1.779-.162 2.832-.783 3.43-1.463c-2.601-2.029-5.296-3.988-7.278-6.144m.34-26.798c.342-.82.666-1.596 1.155-2.234c.421-.581 1.029-1.114 1.674-1.679l.216-.189c.275.281.553.595.83.938c-.572.439-1.113.909-1.532 1.452c-.706.868-1.064 1.866-1.411 2.831c-.379 1.054-.736 2.049-1.502 2.757c-.844.742-2.189 1.301-3.615 1.893c-1.399.58-2.846 1.181-3.989 2.029c-1.233.883-2.091 1.983-2.921 3.048c-.307.394-.613.772-.928 1.143c-.579-.479-1.157-.954-1.724-1.431c.118-.122.239-.244.355-.365c.967-1.004 1.88-1.953 2.989-2.652c1.03-.67 2.351-1.157 3.627-1.628c1.562-.576 3.175-1.172 4.375-2.149c1.279-1.081 1.875-2.507 2.401-3.764m-17.334 2.435c1.049-.716 2.303-1.225 3.516-1.716c1.439-.584 2.93-1.188 4.146-2.168c1.244-1.043 2.036-2.387 2.802-3.687c.531-.902 1.033-1.755 1.658-2.444a9.802 9.802 0 0 1 1.181-1.112c.207.469.472.877.8 1.229c.334.334.696.577 1.071.765a9.98 9.98 0 0 0-1.082 1.182c-.643.808-1.089 1.73-1.521 2.623c-.586 1.209-1.139 2.351-2.104 3.146c-.963.755-2.327 1.245-3.771 1.765c-1.356.487-2.76.992-3.99 1.767c-1.166.713-2.176 1.641-3.146 2.567a22.205 22.205 0 0 1-1.396-2.429c.591-.555 1.191-1.066 1.836-1.488M10.524 46.979c-.634-.456-1.497-.747-2.658-.901c-.045-.005-.125-.017-.232-.033c1.599-.744 3.192-1.518 4.501-2.358c1.084-.71 3.222-2.04 5.679-3.552c.556.479 1.143.958 1.735 1.438c-2.025 1.244-3.735 2.325-4.648 2.966c-1.203.818-2.742 1.608-4.377 2.44m8.925-3.098c.383-.492.834-.968 1.26-1.363c.216.177.43.354.643.532c-.113.144-.227.288-.363.456c-2.458 2.922-7.005 4.141-7.005 4.141c3.116-1.274 4.825-2.959 5.465-3.766m4.516 4.804c-1.566 1.038-3.596 1.952-5.744 2.919l-.585.264c-1.548-.104-2.64-.3-3.41-.518c.344-.174.688-.345 1.027-.514c1.771-.884 3.445-1.719 4.772-2.633c.813-.572 2.273-1.512 4.021-2.607c.145.164.286.328.417.494c.416.51.761 1.028 1.068 1.551c-.642.422-1.177.779-1.566 1.044M45.752 61c-1.023 0-2.295-.157-3.782-.47c-.447-.385-.9-.769-1.352-1.15c-1.898-1.608-3.691-3.127-4.931-4.623c-1.224-1.509-1.928-3.058-2.672-4.698c-.798-1.755-1.622-3.57-3.107-5.281c-1.391-1.641-3.314-3.084-5.176-4.48c-1.77-1.328-3.441-2.582-4.563-3.904c-1.103-1.344-1.67-2.824-2.27-4.393c-.569-1.486-1.157-3.023-2.222-4.406c-1.001-1.35-2.421-2.498-3.794-3.609c-1.416-1.146-2.754-2.229-3.451-3.358c-.658-1.13-.725-2.423-.795-3.792c-.063-1.213-.126-2.466-.604-3.645c-.311-.829-.812-1.595-1.348-2.33a16.18 16.18 0 0 1 1.598-1.057l.245.396c.543.872 1.056 1.695 1.35 2.551c.333.892.436 1.908.544 2.984c.161 1.604.345 3.422 1.404 5.063c.993 1.471 2.597 2.663 4.147 3.816c1.288.958 2.62 1.948 3.575 3.079c1.015 1.166 1.725 2.564 2.478 4.044c.864 1.702 1.759 3.462 3.205 5.036c1.375 1.454 3.19 2.727 4.946 3.959c1.84 1.29 3.742 2.625 5.112 4.15c1.484 1.621 2.372 3.393 3.312 5.27c.821 1.641 1.67 3.336 2.965 4.99c1.173 1.467 2.776 2.966 4.474 4.554c.451.421.908.85 1.361 1.28a8.328 8.328 0 0 1-.649.024m-4.818-11.477c-2.066-5.016-3.658-6.285-9.646-10.361c-5.479-3.762-6.129-8.156-6.129-8.156c1.119 2.041 2.689 4.631 9.781 9.393c4.516 3.014 6.486 7.131 7.6 10.047c.447 1.145 1.801 3.641 4.881 6.109c-.001 0-4.712-2.86-6.487-7.032m13.99 7.37l-.002.004l-.023-.007l-.059-.008a10.276 10.276 0 0 0-1.35-.098c-.77 0-1.438.11-1.998.327c-1.591-1.512-3.087-2.943-4.177-4.299c-1.189-1.51-2.069-3.147-2.921-4.731c-1.072-1.994-2.182-4.057-3.909-5.906c-1.563-1.708-3.541-3.079-5.454-4.404c-1.72-1.191-3.344-2.317-4.605-3.619c-1.303-1.372-2.246-3.063-3.159-4.698c-.862-1.546-1.755-3.144-2.94-4.468c-1.126-1.291-2.53-2.317-3.889-3.311c-1.46-1.068-2.84-2.076-3.668-3.256c-.855-1.287-1.095-2.809-1.348-4.42c-.183-1.16-.371-2.359-.802-3.457c-.251-.688-.601-1.349-.973-1.992a4.86 4.86 0 0 0 1.75-.601a5.168 5.168 0 0 0 1.374-1.289c.414.607.801 1.231 1.093 1.883c.47.996.748 2.156 1.043 3.383c.417 1.734.848 3.527 1.888 5.128c1.014 1.478 2.474 2.641 3.887 3.765c1.209.963 2.459 1.958 3.423 3.152c1.018 1.214 1.806 2.69 2.639 4.253c.951 1.784 1.935 3.628 3.354 5.231c1.377 1.52 3.124 2.81 4.813 4.057c1.716 1.268 3.489 2.577 4.878 4.131c1.479 1.615 2.531 3.439 3.645 5.372c1.031 1.789 2.098 3.64 3.559 5.379c1.32 1.547 3.008 3.05 4.803 4.632a21.895 21.895 0 0 1-.872-.133"%2F%3E%3Cpath fill="currentColor" d="M25.381 24.618s1.976 1.969 3.214 4.754c1.861 4.006 5.643 6.162 5.643 6.162c-4.929-3.646-4.145-8.371-8.857-10.916"%2F%3E%3C%2Fsvg%3E');
}

.game{
    content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="50" height="50" preserveAspectRatio="xMidYMid meet" viewBox="0 0 64 64"%3E%3Cpath fill="currentColor" d="M60.203 15.696c-3.324 2.812-6.596 2.155-8.393 1.419c2.168-1.421 4.104-2.736 5.059-3.911C59.904 9.468 60.973 2.03 58.893 2.03c-1.688 0 .764 6.607-6.178 11.473c1.426-5.122-1.063-11.008-2.811-11.473c-.406-.107-1.799 0-.75 1.531c3.434 5.011 1.885 9.577.723 11.778c-1.766 1.151-3.414 2.3-4.912 3.469a19.264 19.264 0 0 0 .584-9.675c-1.033-5.247 2.301-3.905 1.455-6.157c-.549-1.46-4.223.374-3.654 4.151c.361 2.398 1.066 4.454.646 7.674c-1.029-.418-3.396-1.596-5.043-4.112c-2.324-3.546-5.584 1.25 4.572 6.464c-.213.817-.502 1.71-.864 2.681c-2.896 1.587-4.756 3.93-5.942 6.237c-1.691-.298-3.295-.329-4.719-.329c-1.423 0-3.026.031-4.717.329c-1.188-2.308-3.047-4.65-5.943-6.237a27.542 27.542 0 0 1-.864-2.681c10.155-5.214 6.896-10.01 4.572-6.464c-1.647 2.517-4.015 3.694-5.044 4.112c-.42-3.22.285-5.275.646-7.674c.568-3.777-3.104-5.611-3.654-4.151c-.846 2.252 2.488.91 1.454 6.157a19.271 19.271 0 0 0 .586 9.675c-1.498-1.169-3.147-2.317-4.91-3.469c-1.164-2.201-2.712-6.768.72-11.778c1.05-1.531-.344-1.639-.749-1.531c-1.748.465-4.236 6.351-2.811 11.473C4.345 8.638 6.794 2.03 5.108 2.03c-2.081 0-1.013 7.438 2.022 11.174c.957 1.175 2.894 2.49 5.062 3.911c-1.799.736-5.07 1.393-8.395-1.419C3.399 15.357 2 14.672 2 16.391c0 1.4 3.902 4.71 8.917 3.697c.067 1.754.831 11.401 9.361 15.082c-.091.594-.304 1.281-.758 2.061c-2.571 4.414-1.391 9.191 3.239 13.107c.726.613.88 1.723 1.049 3.478c.221 2.273.521 5.387 3.773 7.025C29.143 61.621 30.586 62 32 62s2.859-.379 4.415-1.158c3.258-1.641 3.558-4.753 3.776-7.027c.169-1.754.323-2.864 1.048-3.476c4.632-3.916 5.812-8.693 3.239-13.108c-.454-.779-.666-1.466-.757-2.06c8.529-3.681 9.293-13.329 9.36-15.082C58.096 21.102 62 17.791 62 16.391c0-1.719-1.398-1.034-1.797-.695M41.678 33.863c-.07 1.204.08 2.64 1.059 4.318c2.529 4.34.219 8.136-2.813 10.699c-3.029 2.56-.232 8.13-4.428 10.242c-.963.482-2.162.941-3.496.941s-2.532-.459-3.495-.941c-4.195-2.112-1.399-7.683-4.429-10.242c-3.029-2.563-5.342-6.359-2.813-10.699c.979-1.679 1.13-3.115 1.06-4.319c-9.345-3.006-9.413-14.05-9.413-14.05c8.004 0 11.599 4.48 13.218 8.513c.377-.109.75-.184 1.124-.26c-1.083 1.479-1.382 3.341.417 6.856c2.584 5.047 1.667 14.195 4.332 14.195c2.666 0 1.75-9.148 4.332-14.195c1.799-3.516 1.501-5.377.418-6.856c.373.076.747.15 1.125.26c1.619-4.031 5.213-8.513 13.215-8.513c-.001.001-.069 11.045-9.413 14.051"%2F%3E%3Cpath fill="currentColor" d="M22.682 31.303c-.756-.771-2.422-2.313-.005-1.406c2.419.907.005-.831-.448-1.602c-.455-.771 2.803.926 2.803.926c-4.076-7.326-9.622-7.326-9.622-7.326c-.001 8.096 8.029 10.178 7.272 9.408m19.089-3.008c-.453.771-2.867 2.509-.447 1.602c2.418-.907.752.635-.006 1.406c-.758.771 7.271-1.312 7.271-9.408c0 0-5.545 0-9.621 7.326c.001 0 3.261-1.697 2.803-.926M36.547 53.58c0-1.079-2.576-1.389-4.547-1.389c-1.97 0-4.545.31-4.545 1.389c0 1.017 1.612 3.192 4.076 3.444v.955c-1.787-.102-3.163-.849-3.272-.579c-.142.247 1.454 1.77 3.741 1.757c2.287.013 3.885-1.51 3.742-1.757c-.109-.269-1.486.478-3.273.579v-.955c2.466-.252 4.078-2.427 4.078-3.444M23.142 38.694c-.927.158-1.489 1.323-1.256 2.604c.233 1.279 1.173 2.188 2.101 2.03c.926-.158 1.488-1.323 1.254-2.604c-.234-1.279-1.173-2.188-2.099-2.03m17.717 0c-.926-.158-1.867.751-2.1 2.031c-.234 1.28.328 2.445 1.256 2.604c.926.158 1.865-.751 2.1-2.03c.235-1.281-.328-2.446-1.256-2.605"%2F%3E%3Cpath fill="currentColor" d="M23.644 35.917c-.128.171 1.832 1.45 2.545 3.835c.787 2.365-.099 4.486.106 4.56c.17.154 1.527-2.076.653-4.784c-.84-2.717-3.253-3.832-3.304-3.611m16.713 0c-.051-.221-2.465.894-3.307 3.61c-.873 2.708.486 4.938.654 4.784c.205-.073-.68-2.194.107-4.56c.714-2.384 2.673-3.663 2.546-3.834"%2F%3E%3C%2Fsvg%3E');
}

.beef{
    content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="50" height="50" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"%3E%3Cpath d="m13.62 8.382l1.966-1.967A2 2 0 1 1 19 5a2 2 0 1 1-1.413 3.414l-1.82 1.821"%2F%3E%3Cellipse cx="8.025" cy="16.475" rx="7" ry="3" transform="rotate(45 8.025 16.475)"%2F%3E%3Cpath d="m7.5 16l1 1m4.475 4.425c3.905-3.906 4.855-9.288 2.121-12.021c-2.733-2.734-8.115-1.784-12.02 2.121"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
}

.poultry{
    content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="50" height="50" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48"%3E%3Cg fill="none"%3E%3Cpath stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M4 36h40l-5 8H9l-5-8Zm7-6v6h26v-5c0-6-3-8-3-8c2-2.5 3-6 0-8s-5.5 0-7 2c0 0-16-2-16 13Z"%2F%3E%3Cpath stroke="currentColor" stroke-linecap="round" stroke-width="4" d="M21 24s-1 .5-2 2s-1 3-1 3"%2F%3E%3Cpath stroke="currentColor" stroke-width="4" d="m39 9l-5 6"%2F%3E%3Ccircle cx="38.356" cy="7.483" r="2.5" fill="currentColor" transform="rotate(35.072 38.356 7.483)"%2F%3E%3Ccircle cx="40.811" cy="9.206" r="2.5" fill="currentColor" transform="rotate(35.072 40.811 9.206)"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.lamb{
    content:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="50" height="50" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="M20 8.5a2.5 2.5 0 0 1-2.5 2.5c-1.08 0-2-.69-2.34-1.64c-.44.39-1.02.64-1.66.64c-.56 0-1.08-.19-1.5-.5c-.42.31-.93.5-1.5.5c-.64 0-1.22-.25-1.66-.64C8.5 10.31 7.58 11 6.5 11A2.5 2.5 0 0 1 4 8.5c0-1.24.91-2.27 2.1-2.46c-.06-.17-.1-.35-.1-.54A1.5 1.5 0 0 1 7.5 4c.2 0 .39.04.56.11C8.23 3.47 8.81 3 9.5 3c.25 0 .5.07.68.17C10.5 2.5 11.19 2 12 2s1.5.5 1.82 1.17c.18-.1.43-.17.68-.17c.69 0 1.27.47 1.44 1.11c.17-.07.36-.11.56-.11A1.5 1.5 0 0 1 18 5.5c0 .19-.04.37-.1.54c1.19.19 2.1 1.22 2.1 2.46M10 12a1 1 0 0 0-1 1a1 1 0 0 0 1 1a1 1 0 0 0 1-1a1 1 0 0 0-1-1m4 0a1 1 0 0 0-1 1a1 1 0 0 0 1 1a1 1 0 0 0 1-1a1 1 0 0 0-1-1m6.23-1.34c-.64.81-1.62 1.34-2.73 1.34c-.45 0-.88-.1-1.29-.27c-.01 2.55-.38 5.63-1.76 7.22c-.52.59-1.15.91-1.95 1.01V18h-1v1.96c-.8-.1-1.43-.41-1.95-1.01c-1.39-1.6-1.76-4.66-1.77-7.21c-.4.16-.83.26-1.28.26c-1.11 0-2.09-.53-2.73-1.34C2.88 11.55 2 12 2 12s1 2 3 2c.36 0 .64-.04.88-.09C6.22 17.73 7.58 22 12 22s5.78-4.27 6.12-8.09c.24.05.52.09.88.09c2 0 3-2 3-2s-.88-.45-1.77-1.34Z"%2F%3E%3C%2Fsvg%3E') ;
}

.seafood{
    content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="50" height="50" preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15"%3E%3Cpath fill="currentColor" d="M11.433 10.089h2.49v.75h-2.07a4.81 4.81 0 0 1 1.622 2.301l-.71.242a4.01 4.01 0 0 0-1.74-2.197a1.778 1.778 0 0 1-1.035.454l-1.553 1.346H6.52l-1.535-1.362a2.022 2.022 0 0 1-1.093-.44a4.01 4.01 0 0 0-1.743 2.199l-.71-.242a4.815 4.815 0 0 1 1.622-2.301H.99v-.75h2.494l.863-.677l-1.014-1.655a2.274 2.274 0 0 1-.27.029a2.02 2.02 0 0 1-2.052-2.08c0-2.08 1.979-4.16 1.979-4.16l-.737 4.447l1.726-.001L4.99 2.985v2.996a2.094 2.094 0 0 1-.699 1.412l.854 1.394l.084-.066a3.867 3.867 0 0 1 4.478 0l.06.047l.87-1.415a2.118 2.118 0 0 1-.643-1.372V2.985l.983 3.007l1.755.001l-.737-4.447s1.982 2.08 1.982 4.16a2.021 2.021 0 0 1-2.056 2.08a2.313 2.313 0 0 1-.344-.037l-1.01 1.646l.84.659c.013.01.014.024.025.035Z"%2F%3E%3C%2Fsvg%3E');
}

.vegetables{
    content:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="50" height="50" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48"%3E%3Cg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"%3E%3Cpath d="M32 7.902c1.5-.402 3.33-.29 4.44 0c2.501.658 4.325 1.788 5.416 3.36c1.263 1.817 1.481 4.137.652 6.894c-1.699 5.64-8.6 9.14-9.008 9.344m-6.253 13.77c.515.098 1.038.15 1.562.151c1.47 0 2.735-.415 3.757-1.234C33.68 39.302 34.5 38 34.833 36.28c.332-1.722-.153-3.336-.68-4.91c-.373-1.119-.618-2.805-.653-3.869M13 26.5s-5.81-2.706-7.507-8.344c-.83-2.756-.611-5.074.651-6.894C7.237 9.69 9.058 8.56 11.56 7.902c1.111-.291 2.174-.439 3.162-.439M13.5 27c.5 1 .068 2.796-.46 4.372c-.527 1.576-1.071 3.202-.68 4.91c.39 1.706 1.153 3.023 2.264 3.908c1.024.818 1.906 1.31 3.376 1.31c.523-.002 2-.5 2-.5"%2F%3E%3Cpath d="M23.5 4C28.747 4 33 6.643 33 14.375C33 22.108 23.5 32 23.5 32S14 22.107 14 14.375C14 6.642 18.253 4 23.5 4Z"%2F%3E%3Cpath d="M24 42.23c-2.01 0-3.72-.663-4.87-1.67c-1.327-1.168-2.003-2.827-2.003-4.933c0-1.756.95-3.221 1.867-4.64c.652-1.007 1.554-2.99 1.554-2.99s.475-1.636.397-2.7c-.145-1.964-2.052-3.443-2.362-4.457c-.375-1.26-.283-2.028.285-2.412c.175-.12.845-.16.845-.16s-.126-1.846-.047-2.455c.095-.73.476-1.771 1.372-1.848c.62-.053 1.11.04 1.428.707c.102.216.173.477.272.839a25.869 25.869 0 0 0 1.257 3.532a25.817 25.817 0 0 0 1.26-3.531c.1-.362.17-.624.273-.84c.318-.668.81-.76 1.43-.706c.755.066 1.275 1.119 1.37 1.847c.08.609.064 1.42-.047 2.454h.047c.215 0 .626.04.802.16c.569.384.602 1.52.283 2.413C29 22 27.203 23.133 27 25c-.129 1.177.095 1.87.451 2.998c.396 1.255.9 1.983 1.554 2.989c.918 1.418 1.867 2.885 1.867 4.64c0 2.106-.674 3.766-2.004 4.931c-1.152 1.008-2.859 1.671-4.869 1.671Z"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') ;
}

.desserts{
    content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="50" height="50" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"%3E%3Cpath fill="currentColor" d="M128 416v-48a144 144 0 0 1 168.64-141.888a224.128 224.128 0 0 1 430.72 0A144 144 0 0 1 896 368v48a384 384 0 0 1-352 382.72V896h-64v-97.28A384 384 0 0 1 128 416zm287.104-32.064h193.792a143.808 143.808 0 0 1 58.88-132.736a160.064 160.064 0 0 0-311.552 0a143.808 143.808 0 0 1 58.88 132.8zm-72.896 0a72 72 0 1 0-140.48 0h140.48zm339.584 0h140.416a72 72 0 1 0-140.48 0zM512 736a320 320 0 0 0 318.4-288.064H193.6A320 320 0 0 0 512 736zM384 896.064h256a32 32 0 1 1 0 64H384a32 32 0 1 1 0-64z"%2F%3E%3C%2Fsvg%3E');
}

.other{
    content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="50" height="50" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"%3E%3Cpath fill="currentColor" d="M480 257.152V192h-96a32 32 0 0 1 0-64h256a32 32 0 1 1 0 64h-96v65.152A448 448 0 0 1 955.52 768H68.48A448 448 0 0 1 480 257.152zM128 704h768a384 384 0 1 0-768 0zM96 832h832a32 32 0 1 1 0 64H96a32 32 0 1 1 0-64z"%2F%3E%3C%2Fsvg%3E');
}

.card{
    font-size: 100%;
    width: 100%;
    height: 50%;
    margin: 5% 1.5%;
}

.card-image {
    width: 45%;
    height: 100%;
    margin:0;
    padding: 0;
    float:left;
    content: url(../../public/assets/images/guide.jpg);
    border-radius: 0 10% 10% 0 / 0 85% 85% 0;
}

.card-text {
    font-weight: bold;
    width: 30vw;
    text-align: left;
    margin: 5% 10% 0 0;
    float: right;
    font-size: 3.5vw;
}

.icon-square{
    position: absolute;
    margin: 15% 0 0 40%;
    padding: 5%;
}

.search-text {
    padding-left: 5px;
    padding-right: 5px;
}

.search-by {
    color: #c3c2c0;
}

.floating-button{
    border-radius: 100%;
    color: rgb(255, 168, 55);
    margin-bottom: 5px;
    font-weight: bold;
    
}

.floating-button-text{
    border-radius: 100%;
    color: rgb(255, 168, 55);
    margin-bottom: 5px;
    font-weight: bold;
    
}