.splashcontainer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 99999;
    left: 0;
    top: 0;
    background-image: url('/public/assets/images/splash.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}